
# OSX
#
.DS_Store

# node.js
#
node_modules
npm-debug.log
yarn-error.log

# Xcode
#
xcuserdata
project.xcworkspace
ios/react-native
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate


# Android/IJ
.idea
.gradle
local.properties
*.iml
build
*.skip
build/
.idea
.gradle
local.properties
*.iml

# BUCK
buck-out/
\.buckd/
*.keystore